<a href="https://colab.research.google.com/github/plumwiserim/data-analysis/blob/main/part1(20200710).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# '학군'이 좋으면, '부동산' 가격이 높을까?

## 가설

학군이 좋으면, 부동산 매매 가격이 상대적으로 높을 것이다.

## 정의(def)

* 학군이란?
    * 중학교에서 특수목적고로 진학하는 비율
* 부당산 매매 가격?
    * 아파트 거래가격

In [ ]:
# 1. 원본 데이터
import pandas as pd

In [ ]:
graduate_path = f'data/part1_2018년_2차_졸업생의_진로_현황(전체).xlsx'

In [ ]:
raw_graduate = pd.read_excel(graduate_path, sheet_name='2018_졸업생의 진로 현황(중)')

In [ ]:
# 2-1. 전처리, 필요한 데이터 추출
# 전처리는 데이터를 분석하기전에 필요한 데이터를 수집하고, 보정하는 행위
# 전처리는 {누락데이터}를 처리하는 것이 대부분, 수치화(항목, 속성, 목록 ...)도 함께 함

select_col = raw_graduate[['지역', '학교명','정보공시 \n 학교코드', '졸업자.2', '(특수목적고)과학고 진학자.2','(특수목적고)외고ㆍ국제고 진학자.2']]
select_col.columns = ['지역', '학교명', '학교코드', '졸업자', '과고', '외고']
graduate_data = select_col.drop(0)

# 2-2. 수치화
graduate_data['졸업자'] = pd.to_numeric(graduate_data['졸업자'])
graduate_data['과고'] = pd.to_numeric(graduate_data['과고'])
graduate_data['외고'] = pd.to_numeric(graduate_data['외고'])
graduate_data['총합'] = graduate_data['과고'] + graduate_data['외고']
graduate_data

                지역               학교명        학교코드    졸업자   과고   외고    총합
1        서울특별시 성북구    서울대학교사범대학부설중학교  S000003514  234.0  4.0  5.0   9.0
2        서울특별시 종로구  서울대학교사범대학부설여자중학교  S000003562  172.0  0.0  8.0   8.0
3        서울특별시 강남구             개원중학교  S010000698  214.0  2.0  9.0  11.0
4        서울특별시 서초구             경원중학교  S010000700  310.0  5.0  4.0   9.0
5        서울특별시 강남구             구룡중학교  S010000701  256.0  3.0  4.0   7.0
...            ...               ...         ...    ...  ...  ...   ...
3454   제주특별자치도 제주시             탐라중학교  S170000844  298.0  1.0  1.0   2.0
3455   제주특별자치도 제주시            제주영지학교  S170000512   12.0  0.0  0.0   0.0
3456   제주특별자치도 제주시            제주영송학교  S170000513   21.0  0.0  0.0   0.0
3457  제주특별자치도 서귀포시           서귀포온성학교  S170000790    9.0  0.0  0.0   0.0
3458   제주특별자치도 제주시  제주제일중학교부설방송통신중학교  S170000870    NaN  NaN  NaN   NaN

[3458 rows x 7 columns]

In [ ]:
# 지역을 '시도', '구군'으로 분리
# 입력은 "서울특별시 성북구" 그리고 "경상북도", "경상남도"와 같은 시도도 입력됨
# 처리
# 1) 시와 구를 나눈다. (공백으로 나눌 수 있는가?) => split
# 2) 만약에 시를 구분했을 때, 글자수가 4자이면 첫번째와 세번째 글자를 합쳐서 출력 => 경남 [0] + [2]
# 3) 글자수가 4자가 아니면 앞의 두 글자만 출력 => [0:2]
# 출력은 "서울" or "경남"

경
상
북
도
경북

In [ ]:
province = "경상북도 성북구"

temp = province.split(' ')

sido = temp[0]

if len(sido) == 4:        
    print(sido[0] + sido[2])
else:
    print(sido[0:2])

경북

In [ ]:
""